
#map {
    height: 100%;
    margin: 1em;
}

@media (max-width: 990px) {
    #map {
        height: 450px !important;
    }
}

.loading {
    cursor: wait !important;
}

.header {
    background-color: #e1f6ff;
}

#stripes {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:9px;
    background-image: url("/static/img/stripes.gif");
    background-repeat: repeat-x;
    z-index: 2000;
    display: none;
}

.loading #stripes {
    display: block !important;
}

h1 {
    font-weight: 400;
}

.title {
    color: #000000b3;
    font-weight: bold;
}

.subtitle {
    color: #0000008f;
    font-weight: 300;
    font-size: 16pt;
}

.logo {
color: #1f6d9b;
font-size: larger;
font-weight: 700;
}

#map.clickable {
    cursor: pointer;
}

.highlighted {
    background-color: darkgray;
}

.spinner {
    display: none;
}

.location-loading .spinner {
    display: inline !important;
}

.location-loading .no-spinner {
    display: none !important;
}

.dropdown-item {
    white-space: pre-wrap;
    border-bottom: 1px gray;
}

.velotaf-info {
   background-color: #aedaf0 !important;
}

br.responsive {
  display: inline; // Show BR tag for narrow screens
}

@media (min-width: 1000px) {
  br.responsive {
    display: none; // Hide BR tag for wider screens
  }
}

.center-container {
    justify-content: center;
    display: flex;
    text-align: center;
}

.share-type {
    font-size: 0.5em;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.btn-tiny {
    padding:1px;
    margin:0;
}

.hidden {
    display:none;
}