#map {
    height:100%;
    min-height: 500px;
    margin: 1em;
}

.loading {
    cursor: wait !important;
}

.header {
    background-color: #a3c4e8;
}

h1 {
    font-weight: 400;
}

.title {
    color:aliceblue;
    font-weight: bold;
}

.subtitle {
     color:aliceblue;
    font-weight: bold;
}

.logo {
    color :#37362c;
}

#map.clickable {
    cursor: pointer;
}

.highlighted {
    background-color: darkgray;
}

.spinner {
    display: none;
}

.location-loading .spinner {
    display: inline !important;
}

.location-loading .no-spinner {
    display: none !important;
}

.dropdown-item {
    white-space: pre-wrap;
    border-bottom: 1px gray;
}

.velotaf-info {
   background-color: #aedaf0 !important;
}

br.responsive {
  display: inline; // Show BR tag for narrow screens
}

@media (min-width: 1000px) {
  br.responsive {
    display: none; // Hide BR tag for wider screens
  }
}

.center-container {
    justify-content: center;
    display: flex;
    text-align: center;
}

.share-type {
    font-size: 0.5em;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.btn-tiny {
    padding:1px;
    margin:0;
}

.hidden {
    display:none;
}