<!doctype html>
<html lang="{{ lang }}">
<head>
    <title>SafeCycle - {{ _.subtitle }}, {{ _.free_and_open_source }}</title>

    <meta name="description" content="{{ _.subtitle }}, {{ _.free_and_open_source }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="SafeCycle" />
    <meta property="og:description" content="{{ _.subtitle }}, {{ _.free_and_open_source }}" />
    <meta property="og:image" content="{{ url_for("static", filename="img/cover.jpg", _external=True, _scheme='https') }}" />

    <link rel="stylesheet" href="{{ url_for("static", filename="leaflet/leaflet.css")}}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap/css/bootstrap.css")}}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap-icons/bootstrap-icons.css")}}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <script src="{{ url_for("static", filename="leaflet/leaflet.js")}}" ></script>

</head>

<body>
    <div class="p-3 text-center header">

        <div class="btn-group float-right">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/img/flags/{{ lang }}.svg" class="flag" >
            </button>
          <div class="dropdown-menu">
              {%  for lang2 in config.LANGUAGES %}
                  {% if lang2 != lang %}
                    <a class="dropdown-item" href="{{ url_for("set_lang_route", lang=lang2) }}"> <img src="/static/img/flags/{{ lang2 }}.svg" class="flag" ></a>
                  {% endif %}
              {%  endfor %}
          </div>
        </div>

        <h1>
            <a class="title" href="/" >SafeCycle</a>
            <span class="logo">
                {<i class="bi-bicycle"></i>}
            </span>
        </h1>
        <h5 class="subtitle">{{ _.subtitle }}</h5>
        <a href="{{ url_for("about") }}">{{ _.about }}</a>
    </div>

{% block content %}
{% endblock %}

<div id="footer">

    {{ _.developped_by }} <a href="https://atelier-des-communs.fr">l'Atelier des communs {<i class="bi-globe"></i>}</a> / <a href="https://raphael-jolivet.name">Raphaël Jolivet</a><br/>
    {{ _.powered_by }} <a href="http://brouter.de/">BRouter.de</a><br/>
    <a href="https://github.com/atelier-des-communs/safecycle"><i class="bi-github"></i> {{ _.source_code }}</a><br/>
    <a href="{{ url_for("about") }}">{{ _.about }}</a>

</div>

</body>
</html>