<!doctype html>
<html lang="fr">
<head>
    <title>SafeCycle - Itinéraire pour vélo, centré sur la sécurité, gratuit & open source</title>

    <meta name="description" content="Itinéraire pour vélo, centré sur la sécurité, gratuit & open source" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="SafeCycle" />
    <meta property="og:description" content="Itinéraire pour vélo, centré sur la sécurité, gratuit & open source" />
    <meta property="og:image" content="{{ url_for("static", filename="img/cover.jpg", _external=True, _scheme='https') }}" />

    <link rel="stylesheet" href="{{ url_for("static", filename="leaflet/leaflet.css")}}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap/css/bootstrap.css")}}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap-icons/bootstrap-icons.css")}}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <script src="{{ url_for("static", filename="leaflet/leaflet.js")}}" ></script>

</head>

<body>
    <div class="p-3 text-center header">
        <h1>
            <a class="title" href="/" >SafeCycle</a>
            <span class="logo">
                {<i class="bi-bicycle"></i>}
            </span>
        </h1>
        <h5 class="subtitle">Itinéraire pour vélo, centré sur la sécurité</h5>
        <a href="{{ url_for("about") }}">À propos</a>
    </div>

{% block content %}
{% endblock %}

<div id="footer">

    Développé par <a href="https://atelier-des-communs.fr">l'Atelier des communs {<i class="bi-globe"></i>}</a> / <a href="https://raphael-jolivet.name">Raphaël Jolivet</a><br/>
    Propulsé par <a href="http://brouter.de/">BRouter.de</a><br/>
    <a href="https://github.com/atelier-des-communs/safecycle"><i class="bi-github"></i> code source</a><br/>
    <a href="{{ url_for("about") }}">À propos</a>

</div>

</body>
</html>