{% extends "base.html" %}
{% block content %}
<div id="stripes" ></div>

<div class="row vh-100" style="height:100%">
    <div class="col">
        <div id="map"></div>
    </div>
    <div class="col-lg-5">

        <form class="m-4">

                    <div class="input-group location-input-group mb-2" data-end="start">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
                                <i class="bi-geo-alt-fill no-spinner" style="color:yellowgreen"></i>
                            </div>
                        </div>
                        <select  class="form-control location-input" id="input-start" data-end="start" placeholder="Départ (ou clic sur carte)">
                        </select>
                    </div>

                    <div class="input-group location-input-group" data-end="end">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
                                <i class="bi-geo-alt-fill no-spinner" style="color:red"></i>
                            </div>
                        </div>
                        <select  class="form-control location-input" id="input-end" data-end="end" placeholder="Arrivée (ou clic sur carte)">
                        </select>
                    </div>

        </form>

        <div class="center-container">
            <form class="form-inline ">

                <div class="custom-control custom-switch mr-3">
                    <input type="checkbox" class="custom-control-input" id="vtt-switch">
                    <label class="custom-control-label" for="vtt-switch">VTT</label>
                </div>

                <div class="custom-control custom-switch mr-3">
                    <input type="checkbox" class="custom-control-input" id="vae-switch">
                    <label class="custom-control-label" for="vae-switch"><i class="bi-lightning-charge"></i> VAE</label>
                </div>

                <div class="btn-group btn-group-toggle btn-sm" data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-primary sort-button" data-sort="safe">
                        <input type="radio" name="sort" id="sort-safe" autocomplete="off" value="safe"> plus sûr
                    </label>
                    <label class="btn btn-sm btn-outline-primary sort-button" data-sort="fast" >
                        <input type="radio" name="sort" id="sort-fast" autocomplete="off" value="fast"> plus rapide
                    </label>
                </div>

            </form>
        </div>

        <ul class="list-group mr-2" id="list-placeholder">

        </ul>
    </div>
</div>

{% raw %}
<script id="legend-template" type="text/html">
    <div class="info legend">
        <button type="button" class="btn btn-sm btn-compact btn-tiny float-right toggle-legend">-</button>
        <div class="legend-content" >
        {{for types }}
            <i style="background:{{: color }}"></i> {{: name }} <br/>
        {{/for }}
        </div>
    </div>
</script>


<script id="itinerary-template" type="text/html">

    {{if !closed && (economy > 0) }}
    <li class="list-group-item mb-5 velotaf-info">
        <button type="button "class="btn btn-sm btn-light float-right close-estimates"><i class="bi-x"></i></button>
        <p><i class="bi-lightbulb"></i> Economies pour <abbr title="220 jours ouvrés">1 an</abbr> de vélotaf :</p>
        <span title="économies financières" ><i class="bi-piggy-bank"></i> <b>{{:economy }} €</b></span>
        <span title="économies carbonne" ><i class="bi-tree"></i> <b> {{:carbon }} Kg CO2<br/></b></span>
    </li>
    {{/if }}


    {{for itineraries }}
    <li class="list-group-item iti-item mb-3" data-iti-id="{{:id }}">
        <h5>
            <a title="trace GPX" href="{{:gpx_url}}" type="button" class="btn btn-sm btn-light float-right"><i class="bi-file-earmark-arrow-down"></i></a>
            <span title="Distance"><i class="bi-signpost" ></i> {{:distance }} km</span>
            <span title="Temps" class="ml-2" ><i class="bi-stopwatch" ></i> {{:time}}</span>
            {{if unsafe > 0 }}
                <span title="Axes primaires et secondaires non protégés" class="ml-2" >
                    <i class="bi-exclamation-diamond-fill warning"></i> {{:unsafe.toFixed(2) }} km
                </span>
            {{/if}}
            <span title="Dénivelé : {{if drops.positive > 0 }} +{{: drops.positive }}m {{/if }} / {{if drops.negative > 0 }} -{{: drops.negative }}m {{/if }}" class="ml-2" ><i class="bi-graph-up" ></i>
                {{if drops.positive > 0 }} +{{: drops.positive }}m {{/if }}
            </span>
        </h5>
        {{for shares }}<span class="share-type" style="background-color:{{: color }}; width:{{: (distance / ~root.max_distance * 300).toFixed() }}px; display:inline-block" title="{{:label }} : {{: (distance/1000).toFixed(1) }} km">&nbsp;</span>{{/for }}
    </li>
    {{/for}}
</script>

{%  endraw %}

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"
        integrity="sha512-bKlNlbTH3duwZ28zoqEhXui/yuaPuQVci6OAVu0zh2WfYbEKD39HszVR8byP4/L4YyBo3b5CGIY+4ldVN93uCg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js">

</script>

<script src="{{ url_for('static', filename='js/main.js') }}" ></script>

{% endblock %}