{% extends "base.html" %}
{% block content %}
<div id="stripes" ></div>

<div class="row vh-100" style="height:100%">
    <div class="col">
        <div id="map"></div>
    </div>
    <div class="col-lg-5">

        <form class="m-4">

                    <div class="input-group location-input-group mb-2" data-end="start">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
                                <i class="bi-geo-alt-fill no-spinner" style="color:yellowgreen"></i>
                            </div>
                        </div>
                        <select  class="form-control location-input" id="input-start" data-end="start" placeholder="{{ _.departure }}">
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary current-location" data-end="start" type="button" title="{{ _.current_position }}">
                                <img src="/static/img/current-location.svg">
                            </button>
                        </div>
                    </div>

                    <div class="input-group location-input-group" data-end="end">
                        <div class="input-group-prepend" >
                            <div class="input-group-text">
                                <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
                                <i class="bi-geo-alt-fill no-spinner" style="color:red"></i>
                            </div>
                        </div>
                        <select  class="form-control location-input" id="input-end" data-end="end" placeholder="{{ _.arrival }}">
                        </select>
                        <div class="input-group-append" >
                            <button class="btn btn-outline-secondary current-location" data-end="end" type="button" title="{{ _.current_position }}">
                                <img src="/static/img/current-location.svg">
                            </button>
                        </div>
                    </div>

                     <div class="custom-control custom-switch m-2" title="Route avec chemins (VTT)">
                        <input type="checkbox" class="custom-control-input" id="vtt-switch">
                        <label class="custom-control-label" for="vtt-switch">{{ _.mountain_bike }}</label>
                    </div>

                    <div class="custom-control custom-switch m-2"  title="Vélo électrique">
                        <input type="checkbox" class="custom-control-input" id="vae-switch">
                        <label class="custom-control-label" for="vae-switch"><i class="bi-lightning-charge"></i>{{ _.electric_bike }}</label>
                    </div>

        </form>

        <div id="list-placeholder" ></div>

    </div>
</div>


<script id="legend-template" type="text/html">
    <div class="info legend">
        <span class="collapsed-visible">-</span>

        <ul class="nav nav-tabs collapsed-hidden">
          <li class="nav-item">
            <a class="nav-link active view-tab" data-view="safety" href="#"><i class="bi-graph-up"></i>{{ _.view.safety }}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link view-tab" data-view="slope" href="#"><i class="bi-exclamation-diamond-fill"></i>{{ _.view.slope }}</a>
          </li>
        </ul>

        <div class="legend-content view-safety collapsed-hidden" >
        [[for safety_types ]]
            <div>
                <i style="background:[[:color]]"></i>&nbsp;[[:name]]
            </div>
        [[/for ]]
        </div>
        <div class="legend-content view-slope collapsed-hidden" >
        [[for slope_types ]]
            <div>
                <i style="background:[[:color]]"></i>&nbsp;[[:name]]
            </div>
        [[/for]]
        </div>
    </div>
</script>

<script id="drop-template" type="text/html">

</script>

    <script id="itinerary-template" type="text/html">

    [[if itineraries.length > 0 ]]
    <div class="center-container">
        <form class="form-inline mb-3 ">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [[: _.sort_label ]] :  [[: _.sort[sort] ]]
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item sort-button" data-sort="[[: sort_alt ]]">[[: _.sort[sort_alt] ]]</button>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      [[: _.view_label ]] : [[: _.view[view] ]]
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item view-button" data-view="[[: view_alt ]]">[[: _.view[view_alt] ]]</button>
                </div>
            </div>
        </form>
    </div>
    [[/if]]

    <ul class="list-group mr-2" id="list-placeholder">




    [[for itineraries itemVar="~iti" ]]
    <li class="list-group-item iti-item mb-3" data-iti-id="[[:id ]]">
        <div class="dropleft float-right">
            <button class="btn btn-light btn-compact" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi-share-fill"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" type="button" href="[[:gpx_url ]]"><i class="bi-download"></i> GPX</a>
                <a class="dropdown-item" type="button" href="[[:kml_url ]]"><i class="bi-download"></i> KML (Google Maps)</a>
            </div>
        </div>
        <h5>
            <span title="{{ _.distance }}"><i class="bi-signpost" ></i> [[:distance ]] km</span>
            <span title="{{ _.time }}" class="ml-2" ><i class="bi-stopwatch" ></i> [[:time]]</span>
            [[if unsafe > 0 ]]
                <span title="{{ _.unsafe }}" class="ml-2" >
                    <i class="bi-exclamation-diamond-fill warning"></i> [[:unsafe.toFixed(2) ]] km
                </span>
            [[/if]]
            <span title="{{ _.slopes }} : [[if drops.positive > 0 ]] +[[: drops.positive ]]m [[/if ]] / [[if drops.negative > 0 ]] -[[: drops.negative ]]m [[/if ]]" class="ml-2" ><i class="bi-graph-up" ></i>
                [[if drops.positive > 0 ]] +[[: drops.positive ]]m [[/if ]]
            </span>
        </h5>

            [[for shares ]]<span class="share-type view-safety" style="background-color:[[: color ]]; width:[[: width ]]px; display:inline-block" title="[[:label ]] : [[: (distance/1000).toFixed(1) ]] km">&nbsp;</span>[[/for ]]

            <div class='view-slope' title="Min: [[:~iti.minElevation ]]m, Max: [[:~iti.maxElevation ]]m">
                <svg height="[[:~iti.height ]]" width="[[: ~iti.width ]]" >
                    [[for slopes ]]<polygon points="[[:points]]" style="fill:[[:color]]" />[[/for]]
                </svg>
            </div>

    </li>
    [[/for]]

        [[if !closed && (economy > 0) ]]
    <li class="list-group-item mt-4 velotaf-info">
        <button type="button "class="btn btn-sm btn-light float-right close-estimates"><i class="bi-x"></i></button>
        <p><i class="bi-lightbulb"></i> {{ _.savings }} <abbr title="220 {{ _.business_days }}">1 {{ _.year }}</abbr> {{ _.savings_end }}:</p>
        <span title="{{ _.financial_savings }}" ><i class="bi-piggy-bank"></i> <b>[[:economy ]] €</b></span>
        <span title="{{ _.carbon_savings }}" ><i class="bi-tree"></i> <b> [[:carbon ]] Kg CO2<br/></b></span>
    </li>
    [[/if ]]

    </ul>
</script>

    <script src="{{ url_for("static", filename="js/jquery-3.6.0.min.js" )}}" ></script>
    <script src="{{ url_for("static", filename="js/popper.min.js" )}}" ></script>
    <script src="{{ url_for("static", filename="js/jsrender.min.js" )}}" ></script>
    <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.js" )}}" ></script>
    <script src="{{ url_for("static", filename="js/bootstrap-autocomplete.min.js" )}}" ></script>

    <script>
        const _ = {{ _ | tojson }}
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}" ></script>

{% endblock %}